.container {
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    
   
}

.herosection {
    
    margin-top: 4rem;
    h4 {
        font-size: 2rem;
        color: rgb(1, 81, 121);
    }
    h1 {
        font-size: 8rem;
        color: rgb(1, 81, 121);
    }
    h5 {
        font-size: 2rem;
        color: rgb(1, 81, 121);
    }
    p {
        font-size: 1.2rem;
        margin-top: 1rem;
        color: rgb(1, 81, 121);
    }

}

.hero-image {
    height: 30rem;
    width: 35rem;
}

.button {
    margin-top: 1rem;
    background: rgb(238, 127, 8);   
}

.serviceSection {
    display: flex;
    flex-direction: column;
    
    h2 {
        font-size: 2.5rem;
        color: rgb(1, 81, 121);
        text-align: center;
        margin-bottom: .7rem;
        
    }

    .services {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .service {
        display: flex;
        flex-direction: column;
        border: solid 1px rgb(1, 81, 121);
        height: 25rem;
        width: 25rem;
        padding: 1rem 1rem;
        margin-top: 1.5rem;
        border-radius: .7rem;
    }

    .serviceHeading {
        font-size: 1.5rem;
        padding-top: .8rem;
        color: rgb(1, 81, 121);
    }

    .serviceDescription {
        font-size: 1rem;
        color: rgb(1, 81, 121);
        padding-top: .8rem;
        overflow-wrap: break-word; 
        
    }

    
}

.aboutus {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10rem;
    color: rgb(1, 81, 121);

    .aboutimg {
        margin-right: 5rem;
        margin-top: 3rem;

    }

    .aboutinfo{
        color: rgb(1, 81, 121);
    }

    h5 {
        font-size: 1.75rem;
        color: rgb(238, 127, 8);
    }
    h1 {
        font-size: 6rem;
        margin-bottom: 1rem;
        color: rgb(1, 81, 121);
    }
    h3 {
        font-size: 2rem;
        margin-bottom: 2rem;
        color: rgb(1, 81, 121);
    }
    p {
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
        color: rgb(1, 81, 121);
    }
    ul {
        margin-left: 3rem;
        color: rgb(1, 81, 121);
    }
    li {
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
        color: rgb(1, 81, 121);
    }
      
  }

  .reviewsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;

    h2 {
        font-size: 2.5rem;
        text-align: center;
    }

    .reviewcard {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 4rem;
        height: 16rem;
        padding: 1rem 1rem;
        width: 21rem;
        background: #f4f4f4;
        -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
        border-radius: 5px;
    }

    .reviewcardTop {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 1rem;
    }

    .reviewerphoto {
        margin: .1rem 1rem;
        border-radius: 100px;
        border: 1px solid black;
        height: 3.5rem;
        width: 3.5rem;
        text-align: center;
    }

    .reviewname {
        display: flex;
        flex-direction: column;

        h5 {
            font-size: 1.1rem;
            text-transform: capitalize;
            margin-bottom: .3rem;
        }

        p {
            font-size: .9rem;
            color: grey;

        }
    }

    .startrating {
        font-size: 1rem;
        margin-top: 1rem;
        overflow-y: scroll;
        white-space: normal;
        
    }
  }

  .whyus {
    margin-left: -35rem;
    margin-top: 8rem;
    z-index: 7;
    padding: 3rem 3rem;
    width: 70rem;
    height: 18rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid black;
    background: white;

    .whoweare {
        margin-right: 1.5rem;

        h4 {
            font-size: 1.5rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding-left: .5rem;
            color: rgb(238, 127, 8);;
            border-left: rgb(1, 81, 121) 5px solid;
        }
    
        p {
            font-size: 1.2rem;
        }
    } 

  }

.howweworksection {
    margin-top: 8rem;
    text-align: center;

    .howweworks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .howwework {
            margin-right: 2rem;
            margin-top: 3rem;

            img {
                height: 10rem;
                width: 10rem;
            }

            h3 {
               font-size: 1.5rem; 
               margin-bottom: 1rem;
            }

            p {
                font-size: 1.1rem;
            
            }
        }

        
    }
}  

@media only screen and (min-device-width: 375px) and (max-device-width: 490px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .herosection {
        h4 {
            font-size: 1rem;
        }

        h1 {
            font-size: 3.5rem;
        }
        h5 {
            font-size: 1.5rem;  
        }
        
    }
    .hero-image {
        display: none;
    }

    .serviceSection {
        h2 {
            font-size: 2rem;
        }   
    }

    .aboutus {
        display: flex;
        flex-direction: column;

        .aboutimg {
            display: none;
        }

        .aboutinfo {
            h5 {
                font-size: 1.5rem;
                text-align: center;
                margin-bottom: 1rem;
            }
            h1 {
                font-size: 3.8rem;
                text-align: center;
            }
        }
    }

    .reviewsection {
        h2 {
            font-size: 2rem;
        }
        
    }
    .reviewcard {
        margin-left: .4rem;
    }

    .whyus {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
        margin-top: 13rem;
        z-index: 7;
        
        padding: 3rem 3rem;
        width: 70rem;
        height: 18rem;
        border: none;
        background: white;
        margin-bottom: 14rem;
    }

    .whoweare {
        height: 15rem;
        width: 18rem;
        
    }

    .howweworksection {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .howweworks {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

}